<div class="container">
  <div class="user-wrap">
    <mat-icon svgIcon="avatar" id="avatar"></mat-icon>
    <h3 class="user-name">Name Surname</h3>
    <p _ngcontent-cdj-c21="" class="user-desc">Lorem ipsum</p>
  </div>
  <mat-divider></mat-divider>

  <mat-list class="mat-list mat-list-base">
    <a class="nav-link">
       <mat-list-item  class="mat-list-item mat-focus-indicator mat-list-item-avatar mat-list-item-with-avatar">
          <div class="mat-list-item-content">
             <div class="mat-ripple mat-list-item-ripple"></div>
             <mat-icon class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">dashboard</mat-icon>
             <div class="mat-list-text">
                <div class="mat-line">משימות</div>
             </div>
          </div>
       </mat-list-item>
    </a>
    <a class="nav-link">
       <mat-list-item class="mat-list-item mat-focus-indicator mat-list-item-avatar mat-list-item-with-avatar">
          <div class="mat-list-item-content">
             <div class="mat-ripple mat-list-item-ripple"></div>
             <mat-icon class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">assignment</mat-icon>
             <div class="mat-list-text">
                <div class="mat-line">תיקי אפיון</div>
             </div>
          </div>
       </mat-list-item>
    </a>
  </mat-list>
</div>

