<div class="container" >
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.phone }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email }} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Edit / Delete</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button  (click)="editUser(element)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[15, 25, 35]" showFirstLastButtons></mat-paginator>
</div>
